@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

/* Headings font=font2
Normal font = font1
Special font = font3 */

:root{
    --font1:"Libre Baskerville",san-serif;
    --font2:"Alegreya",cursive;
    --font3:"Young Serif";
}

*{
    margin: 0;
    padding: 0;
}

.m-auto{
    margin:auto;
}



.sidebar{
    /* padding-top:11vh; */
    position: fixed;
    background-color: #d2f6a4;
    /* width: 300px; */
    font-family: var(--font2);
    height: 100vh;
    transition: transform 0.1s ease-in;
}

.sidebar nav{
    padding: 35px;
}

.sidebar ul{
    padding-top:80px;
}

.sidebar nav li{
    list-style: none;
    font-size: 1.75rem;
    padding:30px 0px;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.sidebar nav li a:hover{
    color: rgb(5, 5, 177);
}

.main{
    background-color:#f7d6ce;
    width: 100%;
    height: 100vh;
    font-family: var(--font1);
    padding-left:20px;
}

.container{
    display: flex;
}

.infoContainer{
    /* background-color: green; */
    height: 55vh;
    width: 80vw;
    margin:85px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction:column
}

.hello{
    font-size: 4rem;
}

.name{
    font-size:3rem;
    font-weight: bolder;
    font-family: var(--font3);
    margin:10px 0px;
}

.about{
    font-size: 1.7rem;
}

.moreabout{
    margin-top: 30px;
    line-height: 40px;
    font-size: 1.5rem;
    width:40vw;
    text-align:left;
}

.bold{
    font-weight: bolder;
    font-family:var(--font2);
}

.buttons button{
    margin:34px 13px 0px 0px;
    padding:7px 10px;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
    background-color: dodgerblue;
    cursor: pointer;
    transition:all 0.2s ease-in-out;
}

.buttons button:hover{
    background-color: black;

}

.devPic img{
    width:20vw;
    /* min-width:200px; */
}

.devPic_2 img{
    width:25vw;
    /* min-width:200px; */
    display: none;
}

hr{
    background-color: rgb(171, 171, 171);
    height: 1.2px;
}

.contactform{
    margin-top:50px;
    margin-left:10vw;
}

.contactform form{
    margin-top:30px;
    /* margin-left: 50px; */
}

.contactform .form-control{
    margin: 10px 0px;
    border-radius: 10px;
    padding: 10px 8px;
    font-size: 1.05rem;
}

.contactform .form-box{
    width:30vw;
}

.btn-primary{
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 2px solid black;
}

.btn-primary:hover{
    background-color: black;
}

.contactform h1{
    font-family: var(--font2);
}

.footer{
    align-items: center;
    height: 50px;
    background-color:black;
    display: flex;
    color: white;
    /* width:100vw; */
    justify-content: space-between;
    position: static;
}

.footer p{
    margin:0px 20px;
}

.social{
    display: flex;
    list-style: none;
    padding:0px 20px;
}

.social li{
    padding:0px 8px; 
}

.hamburger{
    position: fixed;
    top:10px;
    left:10px;
    cursor: pointer;
}

.cross{
    margin-left:150px;
    position: fixed;
}

.sidebarGo{
    transform: translate(-300px);
    position:absolute;
}

.moreabout_2{
    display: none;
}

.buttons_2{
    display: none;
}

/* INTRO PAGE CSS */

.introContainer h1{
    font-family: var(--font2);
    margin-bottom: 20px;
    font-size: 3em;
    text-align: center;
}

.introContainer h1 img{
    width:70px;
}

.introContainer h2{
    font-family: var(--font2);
    margin-top: 30px;
    font-size: 2em;
}

.introContainer p{
    font-family: var(--font1);
    font-size:1.4em;
}

.introContainer{
    padding: 40px;
    text-align: center;
}

.skillcontainer{
    column-gap: 30px;
    row-gap: 70px;
    font-size:1.7em;
    margin-top:60px;
    display: inline-grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    text-align: center;
}

.grid-item{
    border:2px solid black;
    text-align: center;
}

.skillcontainer img{
    width:15vw;
    height:10vw;
    margin-top:20px;
}

.language{
    font-family: var(--font3);
}

.main_2{
    background-color:#f7d6ce;
    width: 100vw;
    /* height:100vh; */
    font-family: var(--font1);
    padding-left:20px;
    /* overflow:scroll; */
}

.sidebar_2{
    position: fixed;
    padding-top:11vh;
    background-color: #caf78f;
    font-family: var(--font2);
    transition: transform 0.1s ease-in;
    height:100vh;
}

.sidebar_2 nav{
    padding: 35px;
}

.sidebar_2 nav li{
    list-style: none;
    font-size: 1.75rem;
    padding:30px 0px;
}

.sidebar_2 nav li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.sidebar_2 nav li a:hover{
    color: rgb(5, 5, 177);
}

.my_intro{
    line-height: 45px;
}

/* FOR SERVICES PAGE */

.service_list{
    display: flex;
    flex-direction: column;
    margin-top:10vh;
    align-items: center;
}

.main_3{
    background-color:#f7d6ce;
    width: 100%;
    /* height: 100vh; */
    font-family: var(--font1);
    padding-left:20px;
}

.services{
    margin:5vh;
    padding: 2vw;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.services span{
    font-family: var(--font3);
    font-size: 1.3em;
}

.services img{
    width:35vw;
    aspect-ratio: 1/0.8;
    margin-top: 20px;
}

@media (max-width:1100px){
    .main_2{
        height: 100vh;
    }
}

@media (max-width:1265px) {
    .main{
        width:100vw;
        height: 100vh;
        overflow: scroll;
    }

    .infoContainer{
        align-items: center;
        flex-direction: column;
        
    }
    .moreabout{
        display: none;
    }

    .buttons{
        display: none;
    }

    .moreabout_2{
        display:inline;
    }
    
    .buttons_2{
        display: inline;
        padding-bottom: 50px;
    }

    .devPic img{
        display: none;
    }

    .devPic_2 img{
        margin-top:60px;
        display: inline;
        border:1px solid black;
        border-radius: 70px;
    }


    .skillcontainer{
        font-size: 1em;
    }

    .star{
        font-size: 0.8em;
    }

    .main_2{
        height: auto;
    }

}

@media (max-width:750px){

    .grid-item{
        width: 30vw;
    }

    .skillcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_2{
        height:auto
    }
}
